@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
/* hsl(235, 28%, 22%) */
@layer base {
  ::selection {
    background-color: #1c3651; /* deep blue */
    color: white;
  }

  /* Dark mode selection */
  .dark ::selection {
    background-color: #a7c7e7; /* light bluish highlight */
    color: black;
  }
  :root {
    --tooltip: 40, 20%, 92%;
    --lime: 83, 40%, 45%;
    --orange: 34, 93%, 48%;
    --red: 4, 70%, 52%;
    --sidebar: 42, 38%, 90%;
    --background: 42, 38%, 92%;
    --foreground: 230 10% 18%;
    --card: 42, 38%, 92%;
    --card-accent: 40 25% 94%;
    --card-muted: 40 25% 90%;
    --card-foreground: 230 10% 20%;
    --border: 230, 10%, 60%, 0.4;
    --border-muted: 230, 10%, 70%, 0.25;
    --card-foreground-muted: 230 8% 45%;
    --popover: 42 30% 97%;
    --popover-foreground: 230 10% 20%;
    --popover-accent: 42 20% 94%;
    --primary: 40, 80%, 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 42, 25%, 90%;
    --secondary-foreground: 230, 10%, 25%;
    --muted: 42, 20%, 80%;
    --muted-foreground: 230, 5%, 45%;
    --accent: 40, 80%, 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0, 72%, 50%;
    --destructive-foreground: 0 0% 98%;
    --input: 40 15% 85%;
    --ring: 217 91% 60%;
    --chart-1: 220 80% 55%;
    --chart-2: 160 50% 45%;
    --chart-3: 45 90% 55%;
    --chart-4: 280 60% 55%;
    --chart-5: 12 80% 60%;
    --radius: 0.5rem;

    /* form variables */
    --form-border: 234, 18%, 30%;
    --form-border-accent: 256, 15%, 80%;
    --form-background: 240 28% 20%;
    --form-foreground: 0, 0%, 100%;
    --input-background: 240, 26%, 27%;
    --form-label: 249, 12%, 55%;
    --form-label-accent: 249, 12%, 90%;
    --form-link: 254, 32%, 74%;
    --form-link-accent: 254, 32%, 90%;
    --form-button: 255, 40%, 52%;
    --form-button-accent: 255, 40%, 55%;
    --form-muted: 240, 7%, 62%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --lime: 83, 40%, 45%;
    --sidebar: 235, 28%, 19%;
    --background: 235 32% 15%;
    --foreground: 234 11% 70%;
    --card: 235 32% 15%;
    --card-foreground: 234 10% 93%;
    --card-accent: 235 32% 16%;
    --card-muted: 236 28% 17%;
    --popover: 235, 28%, 22%;
    --popover-foreground: 235, 22%, 32%;
    --popover-accent: 233, 10%, 30%;
    --primary: 235, 32%, 14%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 233, 10%, 30%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 235, 22%, 32%;
    --accent-foreground: 234 11% 70%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 234, 10%, 30%, 0.5;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  nav {
    font-size: 14px;
  }
}
/* https://www.joshwcomeau.com/css/designing-shadows/ */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
