@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
/* hsl(235, 28%, 22%) */
@layer base {
  ::selection {
    background-color: #1c3651; /* deep blue */
    color: white;
  }

  /* Dark mode selection */
  .dark ::selection {
    background-color: #a7c7e7; /* light bluish highlight */
    color: black;
  }
  :root {
    --calendar-lime: 83, 42%, 50%;
    --calendar-red: 4, 70%, 48%;
    --calendar-orange: 34, 93%, 44%;
    --radius: 0.5rem;

    --background: 235 5% 95%;
    --foreground: 0 0% 5%;
    --lime: 83, 62%, 55%;
    --orange: 34, 93%, 48%;
    --red: 4, 90%, 62%;

    --card: 0 0% 100%;
    --card-foreground: 235 32% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 235 28% 23%;
    --popover-accent: 235 18% 95%;
    --primary: 83 45% 35%;
    --primary-foreground: 0 0% 100%;
    /* --secondary: 0 0% 96%;
    --secondary-foreground: 235 32% 16%; */
    --muted: 235 32% 96%;
    --muted-foreground: 0 0% 30%;
    --accent: 235 25% 95%;
    --accent-foreground: 235 32% 16%;
    --destructive: 358.71 55.08% 53.33%;
    --border: 235 12% 78%;
    --border-muted: 235 15% 92%;
    --input: 235 17% 90%;
    --ring: 0 0% 56%;
    /* --chart-1: 264 75% 49%;
    --chart-2: 162 55% 70%;
    --chart-3: 70 65% 77%;
    --chart-4: 304 80% 63%;
    --chart-5: 16 80% 65%; */
    --sidebar: 0 0% 98%;
    --sidebar-foreground: 235 28% 19%;
    --sidebar-primary: 235 28% 94%;
    --sidebar-primary-foreground: 235 32% 16%;
    --sidebar-border: 235 12% 88%;
    /* --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 235 32% 16%; 
    --sidebar-ring: 0 0% 56%; */

    --calendar-border: 235 12% 88%;

    /* form variables */
    --form-border: 234, 18%, 30%;
    --form-border-accent: 256, 15%, 80%;
    --form-background: 240 28% 20%;
    --form-foreground: 0, 0%, 100%;
    --input-background: 240, 26%, 27%;
    --form-label: 249, 12%, 55%;
    --form-label-accent: 249, 12%, 90%;
    --form-link: 254, 32%, 74%;
    --form-link-accent: 254, 32%, 90%;
    --form-button: 255, 40%, 52%;
    --form-button-accent: 255, 40%, 55%;
    --form-muted: 240, 7%, 62%;
  }

  .dark {
    --lime: 83, 40%, 45%;
    --calendar-lime: 83, 38%, 35%;
    --calendar-red: 4, 70%, 48%;
    --calendar-orange: 34, 93%, 44%;
    --background: 235 32% 15%;
    --foreground: 0 0% 100%;

    --card: 235 32% 16%;
    --card-foreground: 0, 0%, 99%;

    --popover: 235, 28%, 23%;
    --popover-foreground: 0, 0%, 99%;
    --popover-accent: 235, 18%, 33%;
    --primary: 83 45% 35%;
    --primary-foreground: 0 0% 85%;

    /* --secondary: 0, 0%, 27%;
    --secondary-foreground: 0, 0%, 99%; */

    --muted: 235 32% 10%;
    --muted-foreground: 0, 0%, 66%;

    --accent: 235 25% 25%;
    --accent-foreground: 0 0% 99%;

    --destructive: 358.71 45.08% 43.33%;

    --border: 235 12% 23%;
    --border-muted: 235 15% 18%;
    --input: 235 17% 30%;
    --ring: 0, 0%, 56%;

    /* --chart-1: 264, 75%, 49%;
    --chart-2: 162, 55%, 70%;
    --chart-3: 70, 65%, 77%;
    --chart-4: 304, 80%, 63%;
    --chart-5: 16, 80%, 65%; */

    --sidebar: 235, 28%, 19%;
    --sidebar-foreground: 0, 0%, 99%;

    --sidebar-primary: 235, 28%, 24%;
    --sidebar-primary-foreground: 0, 0%, 99%;
    --sidebar-accent: 0, 0%, 27%;
    --sidebar-accent-foreground: 0, 0%, 99%;
    --sidebar-border: 235 12% 23%;
    --sidebar-ring: 0, 0%, 44%;

    --calendar-border: 235, 28%, 20%;
  }
}

/* month view */
.rbc-off-range-bg {
  background-color: transparent !important;
  color: hsl(var(--muted-foreground));
}
.rbc-month-row {
  border-top: 1px solid hsl(var(--calendar-border)) !important;
}
.rbc-month-view {
  border: 1px solid hsl(var(--calendar-border)) !important;
  border-radius: 10px;
  overflow: hidden;
}
.rbc-day-bg {
  border-left: 1px solid hsl(var(--calendar-border)) !important;
}
.rbc-header {
  border: none !important;
  background-color: hsl(var(--calendar-border)) !important;
  font-weight: 600 !important;
}

.rbc-today {
  background-color: hsl(var(--calendar-border)) !important;
}

/* week view */

.rbc-time-view .rbc-header {
  padding-bottom: 25px !important;
}
.rbc-allday-cell {
  margin: 0px !important;
  padding: 1px !important;
}

.rbc-time-view {
  border: 1px solid hsl(var(--calendar-border)) !important;
  border-radius: 10px;
  overflow: hidden;
}
.rbc-time-content {
  border-top: transparent !important;
}
.rbc-time-slot {
  border: 1px solid hsl(var(--calendar-border)) !important;
}

.rbc-timeslot-group {
  border: transparent !important;
}
.rbc-events-container {
  border: transparent !important;
}
.rbc-time-header-content {
  border: transparent !important;
}

/* agenda view */

.rbc-agenda-table {
  border: transparent !important;
  border-bottom: 1px solid hsl(var(--calendar-border)) !important;
}
.rbc-agenda-time-cell {
  border: transparent !important;
}
.rbc-agenda-event-cell {
  border: transparent !important;
}

/* calendar show more */
.rbc-month-view .rbc-show-more {
  background-color: transparent;
  color: hsl(var(--foreground));
  font-size: 0.75rem;
  font-weight: 500;
  display: inline-block;
}

.rbc-addons-dnd-resize-ew-anchor:first-child {
  left: -4px !important;
}
/* Move the Right Handle further right */
.rbc-addons-dnd-resize-ew-anchor:last-child {
  right: -4px !important;
}
.rbc-addons-dnd-resize-ew-icon {
  border: 2px solid white !important;
  height: 80% !important;
  width: 8px !important;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.rbc-addons-dnd-resize-ns-icon {
  width: 40px !important;
  border: 2px solid white !important;
  height: 4px !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.rbc-addons-dnd-resize-ns-anchor:first-child .rbc-addons-dnd-resize-ns-icon {
  border-radius: 0px 0px 4px 4px !important;
}

.rbc-addons-dnd-resize-ns-anchor:last-child .rbc-addons-dnd-resize-ns-icon {
  border-radius: 4px 4px 0px 0px !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  nav {
    font-size: 14px;
  }
}
/* https://www.joshwcomeau.com/css/designing-shadows/ */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
