/* month view */
.rbc-off-range-bg {
  background-color: transparent !important;
  color: hsl(var(--muted-foreground));
}
.rbc-month-row {
  border-top: 1px solid hsl(var(--calendar-border)) !important;
}
.rbc-month-view {
  border: 1px solid hsl(var(--calendar-border)) !important;
  border-radius: 10px;
  overflow: hidden;
}
.rbc-day-bg {
  border-left: 1px solid hsl(var(--calendar-border)) !important;
}
.rbc-header {
  border: none !important;
  background-color: hsl(var(--calendar-border)) !important;
  font-weight: 600 !important;
}

.rbc-today {
  background-color: hsl(var(--calendar-border)) !important;
}

/* .rbc-addons-dnd .rbc-calendar {
  background-color: rgb(43, 117, 117) !important;
  width: fit-content !important;
  margin: 0px !important;
  padding: 0px !important;
}

.rbc-toolbar {
  background-color: aqua !important;
  width: fit-content !important;
  padding: 0px !important;
  margin: 0px !important;
} */

/* week view */

.rbc-time-view .rbc-header {
  padding-bottom: 25px !important;
}
.rbc-allday-cell {
  margin: 0px !important;
  padding: 1px !important;
}

.rbc-time-view {
  border: 1px solid hsl(var(--calendar-border)) !important;
  border-radius: 10px;
  overflow: hidden;
}
.rbc-time-content {
  border-top: transparent !important;
}
.rbc-time-slot {
  border: 1px solid hsl(var(--calendar-border)) !important;
}

.rbc-timeslot-group {
  border: transparent !important;
}
.rbc-events-container {
  border: transparent !important;
}
.rbc-time-header-content {
  border: transparent !important;
}

/* agenda view */

.rbc-agenda-table {
  border: transparent !important;
  border-bottom: 1px solid hsl(var(--calendar-border)) !important;
}
.rbc-agenda-time-cell {
  border: transparent !important;
}
.rbc-agenda-event-cell {
  border: transparent !important;
}

/* calendar show more */
.rbc-month-view .rbc-show-more {
  background-color: transparent;
  color: hsl(var(--foreground));
  font-size: 0.75rem;
  font-weight: 500;
  display: inline-block;
}

.rbc-addons-dnd-resize-ew-anchor:first-child {
  left: -4px !important;
}
/* Move the Right Handle further right */
.rbc-addons-dnd-resize-ew-anchor:last-child {
  right: -4px !important;
}
.rbc-addons-dnd-resize-ew-icon {
  border: 2px solid white !important;
  height: 80% !important;
  width: 8px !important;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* .rbc-row {
  max-height: 30px !important;
  overflow: hidden !important;
} */

.rbc-addons-dnd-resize-ns-icon {
  width: 40px !important;
  border: 2px solid white !important;
  height: 4px !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.rbc-addons-dnd-resize-ns-anchor:first-child .rbc-addons-dnd-resize-ns-icon {
  border-radius: 0px 0px 4px 4px !important;
}

.rbc-addons-dnd-resize-ns-anchor:last-child .rbc-addons-dnd-resize-ns-icon {
  border-radius: 4px 4px 0px 0px !important;
}
